<mat-toolbar color="primary" class="navbar">
  <div *ngIf="!isLoggedIn"></div>
  <div *ngIf="isLoggedIn">
    <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
  </div>
  <div *ngIf="!isLoggedIn">
    <span><button mat-flat-button [routerLink]="['/login']" color="primary">Login</button></span>
  </div>
  <div *ngIf="isLoggedIn">
    <span><button mat-flat-button color="primary" (click)="logout()" *ngIf="isLoggedIn">Sair</button></span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <button mat-button [routerLink]="['/mycontracts']" *ngIf="userRights">Meus Contratos</button><br/>
    <button mat-button [routerLink]="['/register']" *ngIf="userRights">Meus Dados</button><br/>
    
    <mat-expansion-panel *ngIf="adminRights || moderatorRights">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contratos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button [routerLink]="['/contracts']">Lista</button>
      <button mat-button [routerLink]="['contracts/new']">Cadastrar</button>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="adminRights || moderatorRights">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Equipamentos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button [routerLink]="['/eqp']">Cadastrar</button>
      <button mat-button [routerLink]="['/brand']" *ngIf="adminRights">Marcas</button>
      <button mat-button [routerLink]="['/model']" *ngIf="adminRights">Modelos</button>
      <button mat-button [routerLink]="['/power']" *ngIf="adminRights">Potências</button>
      <button mat-button [routerLink]="['/type']" *ngIf="adminRights">Tipos</button>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="adminRights">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="right">Usuários</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button [routerLink]="['/register']">Cadastrar</button>
      <button mat-button [routerLink]="['/usercontract']">Vincular a Contrato</button>
    </mat-expansion-panel>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-spinner></app-spinner>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>