.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line if needed */
    gap: 16px;
    /* Adds space between items */
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.button-margin {
    margin-left: 5px;
}

.outline {
    border-style: transparent;
    border-width: 0px;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.small-input {
    width: 40%; /* Adjust the width as needed */
    margin-bottom: 0px;
}

.select-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    gap: 16px; /* Adds space between items */
}

.button-margin {
    margin-left: 5px;
}

.button-container button:first-child {
    margin-left: 0; /* Ensure the first button doesn't have left margin */
}

.select-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    gap: 16px; /* Adds space between items */
}