<mat-toolbar>
    <span>Novo Contrato</span>
</mat-toolbar>

<form [formGroup]="mainFormGroup" (ngSubmit)="onSubmit()">
    <mat-stepper formArrayName="formArray" #stepper animationDuration="0">

        <mat-step formGroupName="0" [stepControl]="formArray.at(0)">
            <ng-template matStepLabel>Dados de Contrato</ng-template>
            <div class="select-container">
                <mat-form-field style="width: 300px;">
                    <mat-label>Empresa/Pessoa</mat-label>
                    <input matInput formControlName="empnome" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CPF/CNPJ</mat-label>
                    <input matInput maxlength="18" type="text" formControlName="documento" mask="CPF_CNPJ" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Proposta</mat-label>
                    <input matInput formControlName="proposta">
                </mat-form-field>
                <div class="select-container" style="padding-top: 5px;">
                    <mat-checkbox formControlName="assinada" class="custom-checkbox" color="primary">Assinada</mat-checkbox>
                </div>
                <mat-form-field>
                    <mat-label>Valor Inicial</mat-label>
                    <span matTextPrefix>R$ &nbsp;</span>
                    <input matInput formControlName="valorIni" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Valor Atual</mat-label>
                    <span matTextPrefix>R$ &nbsp;</span>
                    <input matInput formControlName="valorAtu" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Custo de Instalação</mat-label>
                    <span matTextPrefix>R$ &nbsp;</span>
                    <input matInput formControlName="valorInst" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' }">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Dia de Vencimento</mat-label>
                    <input matInput maxlength="2" (input)="validateNumber($event)" formControlName="vencimento">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Prazo</mat-label>
                    <input matInput (input)="validateNumber($event)" formControlName="prazo">
                    <span matSuffix>&nbsp;meses&nbsp;</span>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Data de Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" formControlName="data">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mês de Reajuste Anual</mat-label>
                    <mat-select formControlName="reajuste">
                        <mat-option *ngFor="let month of months" [value]="month.value">
                            {{ month.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-divider style="margin-bottom: 16px;"></mat-divider>
                <mat-label class="mat-step-text-label ng-star-inserted" style=" font-size: 16px;">Endereço</mat-label>
            </div>
            <div class="select-container">
                <mat-form-field>
                    <mat-label>CEP</mat-label>
                    <input matInput type="text" formControlName="cep" mask="00000-000" required (input)="onCepChange($event)">
                    <mat-spinner matSuffix *ngIf="cepSpinner" [diameter]="18" style="float: right; margin-right: 8px"></mat-spinner>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Logradouro</mat-label>
                    <input matInput formControlName="logradouro" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input matInput maxlength="6" (input)="validateNumber($event)" formControlName="numero" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Complemento</mat-label>
                    <input matInput formControlName="complemento">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>UF</mat-label>
                    <mat-select formControlName="uf" required>
                        <mat-option *ngFor="let estado of estados" [value]="estado.value">
                            {{ estado.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray.at(1)" label="Equipamentos">
            <div class="mat-elevation-z1">
                <div class="filter-container">
                    <mat-form-field class="small-input">
                        <input matInput #filtro (keyup)="filtrar($event)" placeholder="Filtrar">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="filtro.value=''; filtrar($event)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                        <td mat-cell *matCellDef="let element"> {{element.brand.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modelo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                        <td mat-cell *matCellDef="let element"> {{element.model.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="potencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Potencia </th>
                        <td mat-cell *matCellDef="let element"> {{element.power.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef> Ações </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="adicionarEqp(element)">
                                <mat-icon color="primary">add</mat-icon></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

            <table mat-table [dataSource]="dataSourceCadastro" class="mat-elevation-z1">
                <!-- Position Column -->
                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let element"> {{element.brand.name}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
                </ng-container>

                <ng-container matColumnDef="modelo">
                    <th mat-header-cell *matHeaderCellDef> Modelo </th>
                    <td mat-cell *matCellDef="let element"> {{element.model.name}} </td>
                </ng-container>

                <ng-container matColumnDef="potencia">
                    <th mat-header-cell *matHeaderCellDef> Potencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.power.name}} </td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="removerEqp()">
                            <mat-icon style="padding-top: 8px; font-size: medium;" color="accent">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCadastro"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCadastro;"></tr>
            </table>

            <mat-divider style="margin-bottom: 16px;"></mat-divider>
                
            <div style="padding-top: 20px;">
                <button mat-raised-button color="grey" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="primary" class="button-margin" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step formGroupName="2" [stepControl]="formArray.at(2)" label="Contatos">
            <div class="select-container">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput [(ngModel)]="contactTemp.name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput [(ngModel)]="contactTemp.phone" mask="(00) 00000-0000" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" [(ngModel)]="contactTemp.email" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="adicionarContato()">
                    <mat-icon>add</mat-icon></button>
            </div>

            <table mat-table [dataSource]="dataSourceContato" class="mat-elevation-z1">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef> Telefone </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="removerContato()">
                            <mat-icon style="padding-top: 8px; font-size: medium;" color="accent">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsContato"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsContato;"></tr>
            </table>

            <div style="padding-top: 20px;">
                <button mat-raised-button color="grey" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="primary" class="button-margin" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step formGroupName="3" [stepControl]="formArray.at(3)" label="Documentos">
        
            <div class="select-container">
                <input #documentInput hidden="true" type="file" onclick="this.value=null" (change)="adicionarArquivo($event)" />
                <button mat-flat-button color="primary" (click)="documentInput.click()">Selecionar Arquivo (3MB)</button>
                <mat-error *ngIf="errorMessage!=''">
                    {{errorMessage}}
                </mat-error>
            </div>

            <table mat-table [dataSource]="dataSourceDocumentos" class="mat-elevation-z1">
                <ng-container matColumnDef="arquivo">
                    <th mat-header-cell *matHeaderCellDef> Arquivo </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="removerArquivo()">
                            <mat-icon style="padding-top: 8px; font-size: medium;" color="accent">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDocumentos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDocumentos;"></tr>
            </table>

            <div style="padding-top: 20px;">
                <button mat-raised-button color="grey" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="primary" class="button-margin" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Resumo</ng-template>
            <div style="padding-top: 20px;">
                <button mat-raised-button color="grey" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="accent" class="button-margin" (click)="stepper.reset(); resetForm();">Limpar</button>
                <button mat-raised-button color="primary" class="button-margin" type="submit">Salvar</button>
            </div>
        </mat-step>
    </mat-stepper>
</form>
