<mat-toolbar>
    <span>Gerenciar Contratos</span>
</mat-toolbar>

<div class="mat-elevation-z8">
    <div class="filter-container">
        <mat-form-field class="small-input">
            <input matInput #filtro (keyup)="filtrar($event)" placeholder="Filtrar">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="filtro.value=''; filtrar($event)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
            <td mat-cell *matCellDef="let element"> {{ element.document | cpfCnpjMask }} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Atual </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentValue | formatCurrencyBr }} </td>
        </ng-container>

        <ng-container matColumnDef="vencimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia de Vencimento </th>
            <td mat-cell *matCellDef="let element"> {{element.dueDay}} </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Último Pagamento </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastPayment | formatDate }} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Editar" (click)="edit(element)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button matTooltip="Excluir" (click)="remove(element.id)" color="accent"><mat-icon>delete</mat-icon></button>
                <button mat-icon-button matTooltip="Gerenciar" (click)="edit(element.id)" color="#999000"><mat-icon>description</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>